.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .messages-container {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    flex: 1;

    .message {
      padding: 15px 27%;
      text-align: left;

      @media screen and (max-width: 600px) {
        & {
          padding-left: 15%;
          padding-right: 15%;
        }
      }

      &:nth-child(2n-1) {
        background-color: #3c3d4e;
      }

      .username {
        margin-right: 20px;
        font-weight: 900;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .bottom-container {
    width: 100%;
    padding: 1rem 0;

    .upload-container {
      display: inline;
      vertical-align: middle;
      margin-right: 10px;
      margin-bottom: 5px;

      .upload-title {
        margin-right: 5px;
      }

      @media screen and (max-width: 600px) {
        & {
          display: block;
        }
      }
    }

    button {
      margin-left: -50px;
      background-color: transparent;
      border: none;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
