.chat-container {
  padding: 2rem 0;

  .chat {
    border-radius: 30px;
    height: 80vh;
    position: relative;

    .messages-container {
      overflow: auto;
      height: 70vh;
      display: flex;
      flex-direction: column-reverse;

      .message {
        padding: 15px 27%;
        text-align: left;

        @media screen and (max-width: 600px) {
          & {
            padding-left: 15%;
            padding-right: 15%;
          }
        }

        &:nth-child(2n-1) {
          background-color: #3c3d4e;
        }

        .username {
          margin-right: 20px;
          font-weight: 900;
        }
      }
    }

    .bottom-container {
      position: absolute;
      width: 100%;
      bottom: 30px;

      button {
        margin-left: -50px;
        background-color: transparent;
        border: none;
        vertical-align: middle;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
