.App {
  text-align: center;
  height: 100vh;

  @media screen and (max-width: 600px) {
    & {
      height: 87vh;
    }
  }

  label {
    cursor: pointer;
  }

  input:not([type='file']) {
    padding: 15px;
    border-radius: 10px;
    min-width: 50%;
    background-color: #3c3d4e;
    color: #ffffff;
  }

  input[type='file'] {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .logout-button {
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
}
